@media screen and (max-width: 1400px){
.client-page .section-1:after {background-position: center 10px; height: 423px; background-size:auto; background-repeat: repeat-x; }
}
@media screen and (max-width: 1366px){
.client-page .section-1:after {}
}

@media screen and (max-width: 1300px){
.home-page .services .about-reel .owl-controls .owl-buttons .owl-next{right: 0px; position: absolute!important; }
.home-page .services .about-reel .owl-controls {width: 100%;}
.home-page .services .about-reel .owl-buttons {position: relative; width: 100%;}
.home-page .services .about-reel .owl-controls .owl-buttons .owl-prev {position: absolute; left: 0px;}
.home-page .services .about-reel .owl-controls .owl-next::after {right: 0px; left: auto;}
.branding-page .section-1 .environment {background-size: auto; background-position: left bottom;}


}

@media screen and (max-width: 1150px){
body {overflow-x: hidden;}	
.home-page .services .mail-draw {right: 5%; top: 25%;}
.branding-page .section-1 .road .hoarding {display: none;}
.branding-page .section-2 {padding-top: 150px;}
.branding-page .section-2 .left-display {width: 100%; padding-bottom: 10px;}
.branding-page .section-2 .right-display {width: 100%; padding: 15px;}
.branding-page .section-2 .right-display img {display: none;}
.branding-page .section-2 img {max-width: 100%;}

.client-page .section-2 .client-roots {display: block; width: 100%; text-align: center;}
.client-page .section-2 .client-roots .list {background:none!important;  display: inline-block; width: 24%; padding: 10px; position: inherit; top: 0px!important; bottom: 0px!important; left: 0px!important; right: 0px!important;}
.client-page .section-2 .client-roots .list .link {height: 100px; width: 100px; display: table; background:#fff; border-radius: 100%; background:#fff;  }
.client-page .section-2 .client-roots .list .link img {display: table-cell; vertical-align: middle;}

.social-media-page .section-1 .section-name .title::before {left: 0px;}
.header {padding: 10px 20px;}

.social-media-page .section-4 .left-panel {width: 100%; text-align: center;}
.social-media-page .section-4 .right-panel {width: 100%; text-align: center; padding: 15px;}
.social-media-page .section-4 {padding-bottom: 0px;}
.social-media-page .section-4 .right-panel .illus {margin-top: 15px;}
.social-media-page .section-4 .right-panel .illus img {display: block; max-width: 100%;}

.services-page  .line-set {display: none;}
.services-page .section-1 .cliparts .art { display: none; text-align: center;}
.services-page .section-1 .cliparts .art.first {left: 0px; display: block; margin-top: 30px;}
.services-page .section-1 .cliparts .art .text {left: 0px;}
.services-page .section-1 {padding-bottom: 0px;}

.services-page .section-2 .s2-mic .ppc {display: none;}
.services-page .section-2 .multi-hand .speaker {display: none;}
.services-page .section-2 .heading {width: 95%;}
.services-page .section-2 .multi-hand {margin-top: 10px;}
.services-page .section-3 .sms-marketing .cloud {display: none;}
.services-page .section-3 {padding-top: 0px;}

.footer .display-set .coloum-div:first-child {width: 20%;}

.digital-media-page .section-1 img {width: auto;}
.ecommerce-page .section-1 .evniornment .board {display: none;}

}


@media screen and (max-width: 1000px){
.services-page .section-4 .plane {display: none;}
.services-page .section-4 .cliparts .art.first {display: none;}
.services-page .section-4 .cliparts .art.last-house {display: none;}
.services-page .section-4 .cliparts .art img {max-width: 100%;}
.services-page .section-5 .line-top .line-7::after {display: none;}
.services-page .section-5 .cliparts .art.last-house {display: none;}
.services-page .section-5 .cliparts .art img {max-width: 100%;}


.footer .display-set .coloum-div:first-child {width: 100%; float: left; display: block; text-align: center; margin-bottom: 50px;}
.footer .display-set .coloum-div {width: 50%; float: left; display: block; margin-bottom: 10px;}

.contact-page .section-1 .left-girl {display: none;}
.digital-media-page .section-2 .item-2 {display: none;}
.digital-media-page .section-2 .item-1 {display: none;}
.digital-media-page .section-3 .hang-list .list.on {display: none;}
.digital-media-page .section-3 .hang-list .list.fi {display: none;}
.digital-media-page .section-3 .hang-list .list.tw {display: none;}
.digital-media-page .section-3 .hang-list .list.fo {display: none;}
.digital-media-page .section-3 .text {width: 95%; padding-top: 250px;}
.digital-media-page .section-4 .owl-controls {display: none!important;}
.digital-media-page .section-4 .info-slider {width: 95%;}
.digital-media-page .section-3 {margin-bottom: 50px;}
.ecommerce-page .section-3 .left-panel {width: 100%; display: block; float: left;text-align: center;}
.ecommerce-page .section-3 .left-panel img {display: block; max-width: 100%;}
.ecommerce-page .footer {margin-top: 50px;}
.ecommerce-page .section-3 .right-panel {display: block; width: 100%; float: left; padding: 0px 15px;}

.mobile-marketing-page .section-2 .design .coloum-div {width: 100%; display: block;}
.mobile-marketing-page .section-2 .design .coloum-div .content {padding: 20px; }
}	

@media screen and (max-width: 900px){
.about-page .section-1 .tea {display: none;}
.about-page .section-1 .radio {display: none;}
.about-page .section-1 .shelf {display: none;}
.about-page .section-1 .newspaper {width: 100%;}
.about-page .section-1 .newspaper img{max-width: 100%;}
.about-page .section-1::after {background-size: cover; background-position: center;}
.about-page .section-1 .content{padding: 60px 15px 0px 15px;}
.about-page .section-2 .content {width: 100%; padding-right: 0px; text-align: center; padding: 10px 15px;}
.about-page .section-2 .content::before {float: left; position: inherit; width: 100%; background-position: center; top: 0px; margin-bottom: 20px;}
.about-page .section-2 .divider {margin-top: 80px;}
.about-page .section-2 .divider .hen {width: 100%; text-align: center; margin-left: 0px;}
.about-page .section-3 .seaTabs {padding: 0px 15px;}
.branding-page .section-1 .boy {display: none;}
.branding-page .section-1 .road .hoarding {display: block;}
.branding-page .section-1 .auto::after {display: none;}
.branding-page .section-1 .road::before {background-position: center; width: 100%;}

.social-media-page .section-1 .section-name {width: 95%;}
.social-media-page .section-1 .section-name::after {display: none;}

.services-page .section-1 .heading {width: 75%;}
.footer .display-set .coloum-div .section.quick-links::after {display: none;}
.digital-media-page .section-4 .slider .list .display-set .illustrator {width: 100%; float: left; display: block;text-align: center;}
.digital-media-page .section-4 .slider .list .display-set .content {width: 100%; float: left; display: block;}
.digital-media-page .section-4 {margin-bottom: 100px;}

.mobile-marketing-page .section-3 .benifits .list {width: 50%; margin-bottom: 25px;}
.mobile-marketing-page .section-3 .benifits .list .design {width: 100%;}
.mobile-marketing-page .section-3 .benifits .list .design.on {background-color: #ff3c00;}
.mobile-marketing-page .section-3 .benifits .list .design.tw {background-color: #ff007e;}
.mobile-marketing-page .section-3 .benifits .list .design.th {background-color: #318fef;}
.mobile-marketing-page .section-3 .benifits .list .design.fo {background-color: #a84bca;}

.mobile-marketing-page .section-2 .design .coloum-div .content .steps .list {width: 100%; margin-bottom: 30px;}

.mobile-marketing-page .section-1 .evnrmnt .left-boy {transform: scale(0.4); bottom: -135px;}
.mobile-marketing-page .section-1 .evnrmnt .right-mobile {transform: scale(0.4); bottom: -135px;}

}




@media screen and (max-width: 768px){
.home-page .about-us .follow-me {display: none;}
.home-page .about-us .content {width: 85%;}
.home-page .services .mail-draw {right: 0px; width: 100%; text-align: center;}
.home-page .services .about-reel .slider .illustration {width: 100%; float: left; text-align: center; display: block;}
.home-page .services .about-reel .slider {display: block;}
.branding-page .section-1 .auto::after {display: block;}
.branding-page .section-1 .road .hoarding {display: none;}
.services-page .section-2 .plane {display: none;}
.services-page .section-2 .multi-hand img {max-width: 100%;}
.services-page .section-3 .cliparts .art.first {display: none;}
.services-page .section-3 .cliparts .art:last-child {display: none;}
.services-page .section-3 .cliparts .art img {max-width: 100%;}
.services-page .section-3 .heading {width: 95%;}
.services-page .section-4 .heading {width: 95%;}
.services-page .section-5 .heading {width: 95%;}
.header .menu {display: block;}
.mobile-marketing-page .section-3 .heading {width: 95%;}
.mobile-marketing-page .section-1 .evnrmnt {display:  none;}
.mobile-marketing-page .section-1 .heading {width: 95%; margin-top: 50px;}
}

@media screen and (max-width: 600px){
.home-page .major-text {width: 100%; position: inherit; background: #c1f4f3; float: left; text-align: center; padding: 15px;}
.home-page .major-text .link {display: none;}
.home-page .major-text .msg {width: 100%; margin-bottom: 15px;}
.home-page .set-scroll .road .girl {display: none;}
.home-page .set-scroll .road .auto {float: left; width: 100%; position: inherit; bottom: auto; right: auto; text-align: center;}
.home-page .set-scroll .road {padding-bottom: 190px; background-position: center bottom; background-color: #c1f4f3;}
.home-page .set-scroll .road .auto::before {top: 0px; right: 20px; transform: scale(0.7);}
.header .logo {width: 100%; text-align: center;}
.branding-page .section-1 .auto {bottom: 90%; max-width: 100%;}
.branding-page .section-1 .auto::after {display: none;}
.branding-page .section-1 .environment p {padding: 15px;  font-size: 13px;}

.client-page .section-2 .client-roots {margin-top: 100px;}
.client-page .section-2 .client-roots .list {margin-bottom: 10px; width: 32%;}
.social-media-page .section-1 .section-name .title::before {display: none;}
.social-media-page .section-1 .illustration .coloum-div.mrgin-set {display: none;}
.social-media-page .section-1 .illustration .coloum-div img {max-width: 100%;}
.services-page .section-1 .heading {width: 95%;}

.header .toggle-menu {display: block;}
.header .menu {width: 100%; background:#fff; display: none;}
.header .menu .nav-list {width: 100%;border-bottom: 1px solid #e3e3e3;}
.header .menu .nav-list:last-child{border-bottom: none;}
.header .menu .nav-list .drop-down {width: 100%; position: inherit; float: left; background: #eee; border-left: none; border-right: none; padding-left: 25px;}

.header .menu .nav-list:hover {background:#b5e8e7; }
.header .menu .nav-list i {display: block;}
.footer .display-set .coloum-div {width: 100%; padding-left: 30px; text-align: center;}
.footer .display-set .coloum-div .section.quick-links {padding: 0px; -webkit-column-count: 1; -webkit-column-gap: 10px; -moz-column-count: 1; -moz-column-gap: 10px; -moz-column-fill: auto; -moz-column-fill: balance;}

.footer .display-set .coloum-div .section .section-list {text-align: center;}
.footer .display-set .coloum-div .section .section-list .list {float: none; width: auto; display: inline-block; text-align: center;}
.footer .display-set .coloum-div .section .section-list .list .link {padding: 10px 15px; border-radius: 3px; background:#fff; color: #333; }
.footer .display-set .coloum-div .section .section-list .list .link:hover {color: #000;}
.footer .display-set .coloum-div .section .section-list .list {line-height: 16px;}
.footer .copyright {margin: 15px 0px;}
.footer .display-set .coloum-div .section {width: 100%;}
.footer .display-set .coloum-div.col-md-35 .section .section-list {margin-bottom: 20px;}
.footer .display-set .coloum-div.col-md-35 .section .section-list .list { width: 100%;}
.footer .address-section .partner img {float: none;}
.about-page .header .menu .nav-list .link {color: #000;}
.header .menu .nav-list .link.active {background:none; color: #000; }
.contact-page .section-2 .contact-form::before {display: none;}
.contact-page .section-2 .contact-form::after{display: none;}
.contact-page .section-2 .contact-form {background-position: center; padding: 100px 50px;}
.digital-media-page .section-2 .item-3 {position: absolute;}
.digital-media-page .section-2 {height: auto;}
.digital-media-page .section-2 .text {width: 100%; float: left; margin-top: 160px;margin-bottom: 50px;}
.digital-media-page .section-2::after {left: 0px;}
.ecommerce-page .section-1 .evniornment {display: none;}
.ecommerce-page .section-2 {margin-top: 70px;}
}

@media screen and (max-width: 500px){
.contact-page .section-1 {background: #000;}
.contact-page .section-1 .contact-details {background: none;}
.contact-page .section-2 .contact-form {background: #fff; border-top: 5px solid #000;border-bottom: 5px solid #000;padding: 50px 20px;}
.contact-page .section-2 .promotion {display: none;}
.contact-page .section-2 .contact-form .input-div {width: 100%;}
.contact-page .section-2 .contact-form {height: auto; float: left;}
.contact-page .section-1 .contact-details::after {display: none;}
.digital-media-page .section-2 .item-3 {display: none;}
.digital-media-page .section-2 .text {margin: 30px 0px;}
.digital-media-page .section-1 {display: none;}
.digital-media-page .section-3 .hang-list .list.th {background: none; height: auto;}
.digital-media-page .section-3 .text {padding-top: 150px;}
.mobile-marketing-page .section-3 .benifits .list {width: 100%;}
.branding-page .section-1 .auto .advertise-here {display: none!important;}
}

@media screen and (max-width: 350px){

.client-page .section-2 .client-roots .list {margin-bottom: 10px; width: 49%;}
.social-media-page .section-1 .section-name .title {font-size: 50px;}
.ecommerce-page .section-3 .right-panel .title {background: #f00;}
.mobile-marketing-page .section-3 .benifits .list .design {width: 220px; }

.mobile-marketing-page .section-3 .benifits .list .design.on {background-color: #fff956;}
.mobile-marketing-page .section-3 .benifits .list .design.tw {background-color: #fff956;}
.mobile-marketing-page .section-3 .benifits .list .design.th {background-color: #fff956;}
.mobile-marketing-page .section-3 .benifits .list .design.fo {background-color: #fff956;}

}