body{ font-family: cursive;}

@font-face {
    font-family: hobo;
    src: url(../fonts/family/hobostd.otf);
}


.main-container , .row{width: 100%; float: left; overflow: hidden;}
.container {width: 100%; max-width: 1150px;}

/* ------------------- common style start here ------------------- */

.header {float: left; width: 100%; padding: 10px 0px;}
.header .logo{float: left;}
.header .logo img {display: block;}

.header .menu {float: right; margin-top: 10px; display: block;}
.header .menu .nav-list {float: left; position: relative;}
.header .menu .nav-list .link {float: left; padding: 8px 15px; font-size: 13px; color: #171717;}
.header .menu .nav-list .link:hover {text-decoration: underline;}
.header .menu .nav-list .link.active {background:#000; color: #fff; border-radius: 3px;}


.header .menu .nav-list i {display: none; position: absolute; top: 12px; right: 20px; cursor: pointer;}



/*-- header color start here --*/
.home-page .header {background: #c1f4f3;}
.about-page .header {background: #e65540;}
.about-page .header .menu .nav-list .link {color: #fff;}

.header .menu .nav-list:hover .drop-down{display: block;}
.header .menu .nav-list .drop-down{display: none; position: absolute; top: 100%; width: 200px; left:  0px; padding:  10px; z-index: 1; background: #FFF; font-family: arial; font-size: 13px; border: 1px solid #b0bcc2;}
.header .menu .nav-list .drop-down .sub-list {float: left; width: 100%;}
.header .menu .nav-list .drop-down .sub-list .sub-link { transition: all 0.1s ease-in-out 0s; float: left; width: 100%; padding: 7px 5px; border-bottom: 1px solid #e3e3e3; }
.header .menu .nav-list .drop-down .sub-list:last-child .sub-link{border: none; }
.header .menu .nav-list .drop-down .sub-list .sub-link:hover {background: #00badc; color: #fff;  transition: all 0.1s ease-in-out 0s;}
.header .menu .nav-list .toggle-menu {display: none; position: absolute; top: 20px; right: 20px; cursor: pointer; height: 35px; width: 35px; line-height: 32px; border: 1px solid #000; text-align: center;}

.header .toggle-menu {display: none; position: absolute; top: 20px; right: 20px; cursor: pointer; height: 35px; width: 35px; line-height: 32px; border: 1px solid #000; text-align: center;}


/*-- header color end here --*/




/*-- footer start here --*/

.services-page .footer{margin-top: 150px;}
.footer {float: left; width: 100%; background: #df5353; position: relative;}
.footer .display-set {float: left; width: 100%; display: table; padding: 30px 0px;}
.footer .display-set .coloum-div {display: table-cell; vertical-align: middle;     padding: 0px 20px;}
.footer .display-set .coloum-div .section {float: left; width: 50%;}
.footer .display-set .coloum-div .section .section-list {float: left; width: 100%;}
.footer .display-set .coloum-div .section .section-list .list {line-height: 30px; float: left; width: 100%;  font-size: 12px; color: #fdcece;}
.footer .display-set .coloum-div .section .section-list .list .link {float: left; font-size: 12px; color: #fdcece;}
.footer .display-set .coloum-div .section .section-list .list .link:hover {color: #fff; text-decoration: underline;}
.footer .display-set .coloum-div .section.quick-links { position: relative;

padding: 10px 0px; -webkit-column-count: 3; -webkit-column-gap: 10px; -moz-column-count: 3; -moz-column-gap: 10px; -moz-column-fill: auto; -moz-column-fill: balance; width: 100%;}
.footer .display-set .coloum-div .section .heading {font-weight: 600; float: left; width: 100%; font-size: 13px; color: #ffffff;}
.footer .display-set .coloum-div .section.quick-links:after{content: ""; transform: scale(0.7); position: absolute; right: 0px; bottom: -50px; background: url(../images/footer/click.gif) no-repeat bottom right;	width: 100px; height: 100px;}

.footer:before {width: 100%; height: 78px; background: url(../images/footer/bg.png); content: ""; position: absolute; bottom: 100%;}
.footer .social-media {float: left; width: 100%;}
.footer .copyright {float: left; width: 100%; text-align: center; background: rgba(0, 0, 0, 0.12); padding: 10px; font-size: 12px; color: #ffd2d2;}
.footer .copyright.last {display: none;}
.footer .address-section .partner {margin-top: 20px; float: left; width: 100%; opacity: 0.5;}
.footer .address-section .partner img {float: left;}
.footer .address-section .partner:hover{opacity: 1;}
.footer .section.address-section .list {line-height: 22px;}
/*-- footer end here --*/


/* ------------------- common style end here ------------------- */


/* ------------------- home page start here ------------------- */

.home-page .set-scroll .road {float: left; width: 100%; background: url(../images/home/parallax/street.png)repeat-x; height: 36px; position: relative;}
.home-page .set-scroll .road .girl {position: absolute; bottom: 5px; left: 10%;}
.home-page .set-scroll .road .auto {position: absolute; bottom: 5px; right: 10%;}
.home-page .set-scroll .road .auto img {display: block; width: 250px;}
.home-page .set-scroll .road .auto:before{position: absolute; top: -100px; right: 0px; background: url(../images/home/hi.png)no-repeat; width: 109px; height: 72px; content: "";}

.home-page .major-text {position: absolute; top: 250px; z-index: 1; width: 100%;}
.home-page .major-text .title {font-size: 18px; color: #292929; font-weight: bold;}
.home-page .major-text .msg {float: left; width: 400px; font-size: 14px; color: #3c7574; line-height: 24px;clear: both; text-align: justify;}
.home-page .major-text .link {float: left; clear: both; margin-top: 15px; opacity: 0.7}
.home-page .major-text .link:hover {opacity: 1;}

.home-page .set-scroll {float: left; width: 100%; position: relative;  z-index: 0;}
.home-page .about-us .follow-me {position: absolute; top:45%; }
.home-page .about-us {position: relative; float: left; width: 100%; background: #02c9de;width: 100%;}
.home-page .about-us .heading {text-align: center; display: block; margin-top: 30px;}
.home-page .about-us .heading img {display: block; max-width: 100%;}
.home-page .about-us .content {display: block; text-align: center; width: 55%; margin-top: 30px;}
.home-page .about-us .content p {display: block; line-height: 24px; font-size: 14px; color: #0b3e43;     margin: 25px 0px;}
.home-page .about-us .content .view-more {display: table; padding: 10px 40px; font-size: 14px; color: #ffec6e; border: 2px solid #ffec6e; border-radius: 30px;}
.home-page .about-us .content .view-more:hover {background: #ffec6e; color: #333;}

.home-page .services:before {float: left; width: 100%; background: #ffec6e url('../images/home/divider.jpg')repeat-x center; background-size: cover; content: ""; height: 400px;}
.home-page .services {float: left; width: 100%; background: #ffec6e; padding-bottom: 100px; position: relative;}

.home-page .services .about-reel .slider {float: left; width: 100%; display: table; text-align: center;}
.home-page .services .about-reel .slider .illustration {display: table-cell; vertical-align: middle; text-align: center}
.home-page .services .about-reel .slider .illustration img {display: block; max-width: 100%;}
.home-page .services .about-reel .slider .content {display: table-cell; vertical-align: middle; padding: 0px 10%;}
.home-page .services .about-reel .slider .content .title{font-size: 26px; color: #fff;     text-shadow: 1px 1px 5px #000;}
.home-page .services .about-reel .slider .content p {font-size: 13px; color: #000; margin: 25px 0px;}
.home-page .services .about-reel .slider .content .more {font-size: 14px; text-transform: uppercase; display: table; padding: 10px 35px; border-radius: 30px; background: #f65a7a; color: #fff; border: 3px solid #000;}
.home-page .services .about-reel .slider .content .more:hover {background:#000; border-color: #333;}

.home-page .services .about-reel {float: left; margin: 65px 0px;}
.home-page .services .about-reel .owl-pagination {display: none;}
.home-page .services .about-reel .owl-controls {position: absolute; top: 45%; width: 100%; margin-top: 0px !important;}
.home-page .services .about-reel .owl-controls .owl-prev:after {content: ''; position: absolute; top: 0px; left: 0px; background:url(../images/home/about-controler.png) no-repeat; height: 60px; width: 47px;}
.home-page .services .about-reel .owl-controls .owl-next:after {content: ''; position: absolute; top: 0px; left: 0px; background:url(../images/home/about-controler.png) no-repeat left bottom; height: 60px; width: 47px;}
.home-page .services .about-reel .owl-controls .owl-next {position: relative;  float: right; border-radius: 0px!important; padding: 0px; }
.home-page .services .about-reel .owl-controls .owl-buttons div {padding: 0px;     opacity: 1;}
.home-page .services .about-reel .owl-controls .owl-buttons .owl-prev {left: -20px; position: absolute;}
.home-page .services .about-reel .owl-controls .owl-buttons .owl-next {left: 20px;}
.home-page .services .about-reel .owl-buttons {float: left; width: 100%;}

.home-page .services .mail-draw {position: absolute; top: 30%; right: 15%;}

/* ------------------- home page end here ------------------- */




/* ------------------- about us page start here ------------------- */

.about-page .section-1{float: left; width: 100%; background: #e65540;}
.about-page .section-1 .content {float: left; width: 100%; text-align: center; background: #4e4139; padding: 60px 0px;}
.about-page .section-1 .content .heading {float: left; width: 100%; font-size: 18px; color: #fff; text-transform: uppercase;}
.about-page .section-1 .content .caption {float: left; width: 100%; font-size: 13px; color: #b0a7a2;}
.about-page .section-1 .content p{color: #b7b3b0; font-size: 13px; line-height: 24px; float: left; width: 100%; margin-top: 20px;}
.about-page .section-1 .shelf {float: left; width: 33.3%; position: relative;     top: 175px;}
.about-page .section-1 .shelf img {float: left;}
.about-page .section-1 .newspaper {width: 33.3%;float: left; position: relative; top: 55px;}
.about-page .section-1 .newspaper img {display: block;}
.about-page .section-1 .right {float: right; width: 33.3%; top: 170px; position: relative;}
.about-page .section-1 .right img {display: block;}
.about-page .section-1 .tea{float: left; position: relative; top: 20px;}
.about-page .section-1 .radio{float: right;}

.about-page .section-1 .object {float: left; width: 100%;}
.about-page .section-1:after  {background: url(../images/about/divider-1.jpg) repeat-x;; height: 62px; float: left; width: 100%; content: "";}

.about-page .section-2 {float: left; width: 100%; background:#feec9f;}
.about-page .section-2 .section-name {margin: 40px 0px; float: left; width: 100%; text-align: center;}
.about-page .section-2 .section-name .heading {float: left; width: 100%; font-size: 18px; font-weight: 600; text-transform: uppercase;}
.about-page .section-2 .section-name .caption {float: left; width: 100%; font-size: 14px;}
.about-page .section-2 .content{float: left; width: 100%; padding-right: 45%; position: relative;}
.about-page .section-2 .content:before{content: ""; position: absolute; right: 0px; top: 120px; width: 400px; height: 291px; background:url(../images/animation/about/group.gif)no-repeat;}
.about-page .section-2 .content .heading{margin-bottom: 20px; float: left; width: 100%; color: #20201e; font-size: 22px; font-style: italic; font-weight: 600;} 
.about-page .section-2 .content p {float: left; width: 100%; color: #32312d; font-size: 13px; line-height: 30px; text-align: justify;}

.about-page .section-2 .divider {float: left; width: 100%; background:url(../images/about/divider-2.jpg)repeat-x bottom; padding-top: 150px; margin-top: 150px;}
.about-page .section-2 .divider .hen {float: left; margin-left: 15%; position: relative; top: -220px;}

.about-page .section-3 {float: left; width: 100%; background:#fff; margin-bottom: 100px;}
.about-page .section-3 .section-name {display: table; margin: 40px auto;text-align: center; position: relative;}
.about-page .section-3 .section-name:after {content: ""; position: absolute; right: 0px; top: -10px; background: url(../images/about/heart.gif); height: 109px; width: 69px;}
.about-page .section-3 .section-name .heading {float: left; width: 100%; font-size: 18px; font-weight: 600;}
.about-page .section-3 .section-name .caption {float: left; width: 100%; font-size: 14px;}

.about-page .section-3 .seaTabs {text-align: center;}
.about-page .section-3 .seaTabs .seaTabs_switch {display: inline-flex; margin: 50px 0px;}
.about-page .section-3 .seaTabs .seaTabs_switch .seaTabs_tab{ display: inline-flex; margin: 0px 5px; float: none; background:#e5e5e5; padding: 8px 15px; font-size: 13px; border-radius: 3px;}
.about-page .section-3 .seaTabs .seaTabs_switch .seaTabs_tab.seaTabs_switch_active{ background:#282828; }

.about-page .section-3 .seaTabs .seaTabs_content .seaTabs_item{float: left; width: 100%; margin-top: 50px; color: #888; font-size: 13px; line-height: 28px;}
.about-page .section-3 .seaTabs .seaTabs_content .illustration {float: left; width: 100%; text-align: center; margin-bottom: 50px;}
.about-page .section-3 .seaTabs .seaTabs_content .illustration img {display: block; max-width: 100%;}

/* ------------------- about us page end here ------------------- */


/* ------------------- contact us page start here ------------------- */

.contact-page .section-1 {float: left; width: 100%; background: url(../images/contact/section-1bg.png) no-repeat bottom; background-size: cover;}
.contact-page .section-1 .contact-details { margin: 50px auto; position: relative; width: 530px; height: 363px; max-width: 100%; background: url(../images/contact/call-bg.png)no-repeat; padding: 50px 60px;}

.contact-page .section-1 > .container {position: relative;}
.contact-page .section-1 .left-girl {position: absolute; left: 0px; bottom: -100px;}

.contact-page .section-1 .contact-details .heading {width: 100%; float: left;text-align: center;}
.contact-page .section-1 .contact-details .heading .title {margin-bottom: 15px;width: 100%; float: left; font-size: 24px; color: #fff; font-weight: 600;}
.contact-page .section-1 .contact-details .heading p{font-size: 13px; color: #919191; width: 100%; float: left;}

.contact-page .section-1 .contact-details .contacts {width: 100%; float: left; margin-top: 35px;}
.contact-page .section-1 .contact-details .contacts .list{float: left; width: 100%; margin: 10px 0px;    padding-left: 35px; }
.contact-page .section-1 .contact-details .contacts .list .data{color: #ababab; font-size: 12px; float: left; width: 100%;}
.contact-page .section-1 .contact-details .contacts .list.email {background: url(../images/contact/msg_icon.png)no-repeat left center;}
.contact-page .section-1 .contact-details .contacts .list.phone {background: url(../images/contact/phone_icon.png)no-repeat left center;}
.contact-page .section-1 .contact-details:after {position: absolute; width: 331px; height: 167px; right: -280px; bottom: -100px; content: ""; background:url(../images/contact/phone.png) no-repeat; }

.contact-page .section-2 {width: 100%; float: left; background: #42bddf;}
.contact-page .section-2 .contact-form {padding: 100px 150px 0px 190px; margin-top: 55px; position: relative; width: 778px; max-width: 100%; height: 384px; background: url(../images/contact/cloud-bg.png)no-repeat; }
.contact-page .section-2 .contact-form:before {left: 269px; top: -120px;content: ""; background:url(../images/animation/contact/loud.gif)no-repeat; width: 146px; height:183px; position: absolute; }
.contact-page .section-2 .contact-form:after {position: absolute; right: 30px; bottom: 90px; height: 121px; width: 129px; background: url(../images/animation/contact/mail-boy.gif)no-repeat; content: "";}

.contact-page .section-2 .contact-form .input-div {float: left; width: 50%; padding: 0px 10px;}
.contact-page .section-2 .contact-form .input-div .label {margin-bottom: 5px; float: left; width: 100%; font-size: 14px; color: #000;}
.contact-page .section-2 .contact-form .input-div .input-box {float: left; width: 100%; border:1px solid #dedede; background:#fff; padding: 10px; height: 38px;}
.contact-page .section-2 .contact-form .input-div .textarea {height: 95px; float: left; width: 100%; padding: 10px; border:1px solid #dedede; background:#fff;}
.contact-page .section-2 .contact-form .input-div .send-btn {float: left; width: 100%; text-align: center; background:#1e1e1e; border:1px solid #333; color: #fff; padding: 10px; cursor: pointer; margin-top: 20px;}
.contact-page .section-2 .contact-form .row {margin-bottom: 20px;}
.contact-page .section-2 .promotion {float: left; width: 100%;}
.contact-page .section-2 .promotion img {display: block; width: 100%;}
.contact-page .section-2 .contact-form .input-div .send-btn:hover {background: #000;}

.contact-page .section-3 {float: left; width: 100%; margin-top: 50px; margin-bottom: 70px;}
.contact-page .section-3 .heading {padding: 0px 10%; float: left; width: 100%; text-align: center;}
.contact-page .section-3 .heading .title {margin-bottom: 15px; font-size: 18px; color: #353535; float: left; width: 100%; font-weight: bold;}
.contact-page .section-3 .heading p {float: left; width: 100%; color: #7c7c7c; font-size: 13px; line-height: 24px;}
.contact-page .section-3 .map {width: 100%; float: left; text-align: center; margin: 30px 0px;}
.contact-page .section-3 .map img {display: block; max-width: 100%;}
.contact-page .section-3 .map iframe { width: 100%; max-width: 600px; border: 10px solid #ccc;}

/* ------------------- contact us page end here ------------------- */



/* ------------------- Client page start here ------------------- */

.client-page .footer {margin-top: 100px;}
.client-page .header{background:#acdfeb;}
.client-page .section-1 {float: left; width: 100%; background:#acdfeb;}

.client-page .section-1 .page-name {float: left; width: 100%; text-align: center;}
.client-page .section-1 .page-name .title {float: left; width: 100%; font-size: 24px; font-weight: bold; text-transform: uppercase;}
.client-page .section-1 .page-name p {color: #417e8c; font-size: 13px; line-height: 24px; max-width: 450px; display: inline-block; margin: 10px auto;}
.client-page .section-1:after {margin-bottom: -30px; height: 457px; width: 100%; background:url(../images/animation/client/top-env.gif)no-repeat center top; content: ""; background-size: cover; float: left;}

.client-page .section-2:after {width: 100%; background:#4a271b; content: ""; position: absolute; top: 100%; height: 100px; left: 0px;}
.client-page .section-2 {position: relative; padding-bottom: 50px; margin-top: -50px; position: relative; z-index: -1; float: left; width: 100%; background:#4a271b url(../images/client/roots-bg.png)repeat-x center top;  background-size: cover;  }
.client-page .section-2 .client-roots {position: relative; float: left; display: inline-block; min-height: 481px; background:url(../images/client/root.png) no-repeat center; margin-top: 50px; width: 100%; }
.client-page .section-2 .client-roots .list {position: absolute; width: 105px; height: 99px; display: table;}
.client-page .section-2 .client-roots .list.s-1 {background:url(../images/client/logo/bg-1.png)no-repeat; }
.client-page .section-2 .client-roots .list.s-2 {background:url(../images/client/logo/bg-2.png)no-repeat; }
.client-page .section-2 .client-roots .list .link {display: table-cell;vertical-align: middle; text-align: center;}
.client-page .section-2 .client-roots .list .link img {display: block; max-width: 100%;}
.client-page .section-2 .client-roots .list.l1 {top: 60px; left: 230px;}
.client-page .section-2 .client-roots .list.l2 {top: 180px;left: 120px;}
.client-page .section-2 .client-roots .list.l3 {top: 150px;left: 330px;}
.client-page .section-2 .client-roots .list.l4 {top: 280px;left: 250px;}
.client-page .section-2 .client-roots .list.l5 {top: 140px;left: 500px;}
.client-page .section-2 .client-roots .list.l6 {top: 310px;left: 430px;}
.client-page .section-2 .client-roots .list.l7 {top: 270px;right: 450px;}
.client-page .section-2 .client-roots .list.l8 {top: 60px;right: 100px;}
.client-page .section-2 .client-roots .list.l9 {top: 220px;right: 230px;}
.client-page .section-2 .client-roots .list.l10 {top: 120px;right: 340px;}
.client-page .section-2 .client-roots .list:hover {transform: scale(1.2);}


/* ------------------- Client page end here ------------------- */



/* ------------------- digital-media page start here ------------------- */

.digital-media-page {float: left; width: 100%; margin-top: 20px;}
.digital-media-page .page-name {display: table; width: 80%; text-align: center; margin-bottom: 50px;}
.digital-media-page .section-1 {float: left; width: 100%;}
.digital-media-page .section-1 img {display: block; width: 100%;}
.digital-media-page .seo-heading { font-size: 28px; color: #80b1ff; font-weight: bold;}
.digital-media-page .page-name p {color: #9c9c9c; font-size: 14px;}

.digital-media-page .section-2{float: left; width: 100%; background: #c93158; position: relative; height: 450px;}
.digital-media-page .section-2:after {top: 100%; position: absolute;  width: 100%; height: 45px; background: url(../images/digital-media/cloud.png)  -20% 70%; content: ""; float: left;}
.digital-media-page .section-2 .item-1 {position: absolute; top: -100px; left: 0px;}
.digital-media-page .section-2 .item-1:before{position: absolute; top: -50px; left: 60px; content: ""; background: url(../images/digital-media/item-1after.png)no-repeat; width: 148px; height: 100px;}
.digital-media-page .section-2 .item-2 {position: absolute; top: -100px; right: 0px;}
.digital-media-page .section-2 .item-3 {width: 100%; display: block; height: 260px; top: -230px; position: relative; text-align: center;}
.digital-media-page .section-2 .item-3 img {display: block; max-width: 100%;}
.digital-media-page .section-2 .text {display: table; width: 80%; text-align: center;}
.digital-media-page .section-2 .text p {float: left; width: 100%; color: #fcd3de; line-height: 24px; font-size: 14px;}

.digital-media-page .section-3 {margin-bottom: 150px;z-index: -1; position: relative;float: left; width: 100%; height: 364px; background: url(../images/digital-media/cloud-2.png)  -20% 70%;}
.digital-media-page .section-3 .hang-list {position: relative; width: 100%; float: left;}
.digital-media-page .section-3 .hang-list .list {position: absolute; font-size: 14px;}
.digital-media-page .section-3 .hang-list .list.on{left: 0px; top: 0px; width: 95px; background: url(../images/digital-media/hangs.png)no-repeat 10px 0px; height: 255px; padding-top: 265px; text-align: center;}
.digital-media-page .section-3 .hang-list .list.tw{left: 135px; top: 0px; width: 95px; background: url(../images/digital-media/hangs.png)no-repeat -130px 0px; height: 194px; padding-top: 204px; text-align: center;}
.digital-media-page .section-3 .hang-list .list.th{font-size: 24px; color: #145f80; font-weight: bold; left: 0; right: 0; margin: 0 auto; top: 0px; width: 413px; background: url(../images/digital-media/hangs.png)no-repeat -372px 0px; height: 258px; padding-top: 60px; text-align: center;}
.digital-media-page .section-3 .hang-list .list.fo{right: 135px; top: 0px; width: 167px; background: url(../images/digital-media/hangs.png)no-repeat -810px 0px; height: 167px; padding-top: 177px; text-align: center;}
.digital-media-page .section-3 .hang-list .list.fi{right: 0px; top: 0px; width: 140px; background: url(../images/digital-media/hangs.png)no-repeat right  0px; height: 307px; padding-top: 317px; text-align: center;}
.digital-media-page .section-3 .text{width: 65%; display: table; font-size: 14px; text-align: center; padding-top: 300px; color: #848484;}
.digital-media-page .section-3:after {width: 100%; height: 200px; background: url(../images/digital-media/bg-2.png)repeat-x; content: ""; float: left;}

.digital-media-page .section-4 {float: left; width: 100%; position: relative; top: -20px; margin-bottom: 50px;}
.digital-media-page .section-4 .info-slider { width: 80%;}/*
.digital-media-page .section-4 .info-slider .slider {width: 100%; float: left;}*/
.digital-media-page .section-4 .slider .list {float: left; width: 100%;}
.digital-media-page .section-4 .slider .list .display-set {display: table; width: 100%; float: left;}
.digital-media-page .section-4 .slider .list .display-set .illustrator{display: table-cell;vertical-align: middle;}
.digital-media-page .section-4 .slider .list .display-set .content{display: table-cell;vertical-align: middle; text-align: center;}
.digital-media-page .section-4 .slider .list .display-set .content .title {float: left; width: 100%;font-size: 24px; font-weight: bold; color: #145f80; margin-bottom: 20px;}
.digital-media-page .section-4 .slider .list .display-set .content p {color: #848484; font-size: 13px;}
.digital-media-page .section-4 .owl-pagination {display: none;}
.digital-media-page .section-4  .owl-controls {position: absolute; top: 45%; width: 100%; margin-top: 0px !important;}
.digital-media-page .section-4  .owl-controls .owl-prev:after {content: ''; position: absolute; top: 0px; left: -100px; background:url(../images/home/about-controler.png) no-repeat; height: 60px; width: 47px;}
.digital-media-page .section-4  .owl-controls .owl-next:after {content: ''; position: absolute; top: 0px; right: -100px; background:url(../images/home/about-controler.png) no-repeat left bottom; height: 60px; width: 47px;}
.digital-media-page .section-4  .owl-controls .owl-next {position: relative;  float: right; border-radius: 0px!important; padding: 0px; }
.digital-media-page .section-4  .owl-controls .owl-buttons div {padding: 0px;     opacity: 1;}
.digital-media-page .section-4  .owl-controls .owl-buttons .owl-prev {right: 20px;}
.digital-media-page .section-4  .owl-controls .owl-buttons .owl-next {left: 20px;}

/* ------------------- digital-media page end here ------------------- */



/* ------------------- services page start here ------------------- */
.services-page img {display: block;}
.services-page .section-1{float: left; width: 100%; background: #fff; padding: 50px 0px; padding-bottom: 80px; position: relative;}
.services-page .section-1 .heading {display: table; width: 50%; text-align: center;}
.services-page .section-1 .heading .title{line-height: 50px; font-weight: bold; text-transform: uppercase; display: inline-block; width:237px;height: 72px; font-size: 22px; color: #fff;  background: url(../images/services/h1.png) center no-repeat;}
.services-page .section-1 .heading .title .link {color: #fff;}
.services-page .section-1 .heading .title .yellow {color: #ffe13a;}
.services-page .section-1 .heading p{font-size: 13px; line-height: 20px; color: #000; margin-top: 10px;}

.services-page .section-1 .cliparts {float: left; width: 100%; text-align: center; display: table;  position: relative;}
.services-page .section-1 .cliparts .art {display: table-cell;vertical-align: middle; width: 33.3%;}
.services-page .section-1 .cliparts .art.first {position: relative; left: 50px;}
.services-page .section-1 .cliparts .art .text{font-size: 18px; position: relative; left: 50px;}
.services-page .section-1 .cliparts .line-1 {position: absolute;  left: -60px; top: -90px;}
.services-page .section-1 .cliparts .line-1:before{position: absolute; top: -40px; right:80px; background: url(../images/services/s1-p.png)no-repeat; width: 104px; height: 68px;content: "";}
.services-page .section-1 .cliparts .line-1:after{position: absolute; top: 40px; right:50px; padding-top: 70px; line-height: 18px; background: url(../images/animation/services/s-1.gif)no-repeat center top; width: 100px; font-size: 17px; color: #5eaccc; font-weight: bold; height: 70px;content: "Paid Advertising";}
.services-page .section-1 .cliparts .line-1 .business-promotion {position: absolute; bottom: -40px; right: 0px; width: 181px; height: 75px; background: url(../images/services/s1-bp.png)no-repeat; font-size: 16px; line-height: 20px; font-weight: bold; padding: 10px 30px; padding-top: 15px;}
.services-page .section-1 .cliparts .line-2 {z-index: 1; position: absolute; bottom: -150px; left: 230px;}

/*.services-page .section-1:after{position: absolute; top: 100%; left: 0px; width: 100%; height: 75px; background: #fff; content: ""; display: block; float: right; transform: rotate(-3deg);}
*/

.services-page .section-2{margin-top: 35px; float: left; width: 100%; background: #efe627; padding: 30px 0px; position: relative;}
.services-page .section-2 .heading {display: table; width: 55%; text-align: center;}
.services-page .section-2 .heading .title{line-height: 58px; font-weight: bold; text-transform: uppercase; display: inline-block; width:281px;height: 58px; font-size: 20px; color: #000;  background: url(../images/services/h-cloud.png) center no-repeat;}
.services-page .section-2 .heading p{font-size: 13px; line-height: 20px; color: #000; margin-top: 10px;}
.services-page .section-2 .s2-mic {position: relative; float: left; width: 100%; text-align: center; margin-bottom: 40px;}
.services-page .section-2 .s2-mic .ppc {position: absolute; left: -10px; top: 260px; background: url(../images/services/s2-callout.png)no-repeat; height: 73px; width: 115px; text-align: center; color: #000; font-size: 15px; line-height: 27px; font-weight: bold;}

.services-page .section-2 .line-3 {position: absolute; top: 65px; left: 0px;}
.services-page .section-2 .line-3:before{position: absolute;top: 0px; left: 0px; content:""; background: url(../images/animation/services/s2-bulb.gif); width: 57px; height: 78px; }
.services-page .section-2 .multi-hand {width: 100%; text-align: center; position: relative;}
.services-page .section-2 .multi-hand .speaker {position: absolute; right: -50px; top: -100px;}
.services-page .section-2 .multi-hand .line-4{position: absolute; left: 0px; top: 50px; left: -50px; z-index: 1;}
.services-page .section-2 .plane {position: absolute; right: 0px; bottom: 20px;}

.services-page .section-3{float: left; width: 100%; background: #ea4055; position: relative; padding-bottom: 45px; padding-top: 90px;}
.services-page .section-3 .heading {position: relative; top: 50px; display: table; width: 50%; text-align: center;}
.services-page .section-3 .heading .title{line-height: 58px; font-weight: bold; text-transform: uppercase; display: inline-block; width:281px;height: 58px; font-size: 20px; color: #000;  background: url(../images/services/h-cloud.png) center no-repeat;}
.services-page .section-3 .heading p{font-size: 13px; line-height: 20px; color: #fff; margin-top: 10px;}
.services-page .section-3 .sms-marketing {width: 100%; float: left; position: relative;}
.services-page .section-3 .sms-marketing .cloud {position: absolute; left: 85px; top: -80px;}
.services-page .section-3 .sms-marketing .line-9 {position: absolute; right: -80px; top: -70px;}

.services-page .section-3 .cliparts {float: left; width: 100%; text-align: center; display: table;  position: relative; margin-top: 100px;}
.services-page .section-3 .cliparts .art {display: table-cell;vertical-align: top;}
.services-page .section-3 .cliparts .art.first .text { font-size: 16px; color: #fff; left: 0px; position: inherit;}
.services-page .section-3 .cliparts .art .text{font-size: 18px; position: relative; left: 50px;}
.services-page .section-3 .cliparts .art.col-md-60 {position: relative; top: 45px;}

.services-page .section-4 {float: left; width: 100%;background: #3acedd; padding-bottom: 50px;}
.services-page .section-4 .heading {position: relative; top: 50px; display: table; width: 50%; text-align: center;}
.services-page .section-4 .heading .title{line-height: 58px; font-weight: bold; text-transform: uppercase; display: inline-block; width:281px;height: 58px; font-size: 20px; color: #000;  background: url(../images/services/h-cloud.png) center no-repeat;}
.services-page .section-4 .heading p{font-size: 13px; line-height: 20px; color: #1c5f66; margin-top: 10px;}
.services-page .section-4 .sms-marketing {width: 100%; float: left; position: relative;}
.services-page .section-4 .cliparts {float: left; width: 100%; text-align: center; display: table;  position: relative; margin-top: 100px;}
.services-page .section-4 .cliparts  .art {display: table-cell;vertical-align: bottom;}
.services-page .section-4 .cliparts .last-house {position: relative; right: 50px;}
.services-page .section-4 .cliparts .art.first .text { font-size: 16px; color: #fff; left: 0px; position: inherit;}
.services-page .section-4 .cliparts .art .text{font-size: 18px; position: relative; left: 50px;}
.services-page .section-4 .cliparts .art.col-md-60 {position: relative;}
.services-page .section-4 .line-top {float: left; width: 100%; position: relative;}
.services-page .section-4 .line-top .line-6 {position: absolute; left: 0px; top: 30px;}
.services-page .section-4 .line-top .line-6:after {position: absolute; top: -10px; right: 0px; background: url(../images/animation/services/s4-d1.gif)no-repeat; width: 109px; height: 62px; content: "";}

.services-page .section-4 .plane{position: absolute; right: 30px; top: 20px;}

.services-page .section-5 {float: left; width: 100%;}
.services-page .section-5 .heading {position: relative; top: 50px; display: table; width: 50%; text-align: center;}
.services-page .section-5 .heading .title{line-height: 58px; font-weight: bold; text-transform: uppercase; display: inline-block; width:281px;height: 58px; font-size: 20px; color: #000;  background: url(../images/services/h-cloud.png) center no-repeat;}
.services-page .section-5 .heading p{font-size: 13px; line-height: 20px; color: #818181; margin-top: 15px;}
.services-page .section-5 .line-top {float: left; width: 100%; position: relative;}
.services-page .section-5 .line-top .line-7 {position: absolute; left: 0px; top: -30px;}
.services-page .section-5 .line-top .line-7:after {position: absolute; left: 50px; top: 150px; width: 205px; height: 101px; background: url(../images/services/s5-d1.png); content: "";}
 
.services-page .section-5 .cliparts {float: left; width: 100%; text-align: center; display: table;  position: relative; margin-top: 100px;}
.services-page .section-5 .cliparts  .art {display: table-cell;vertical-align: middle;}
.services-page .section-5 .cliparts .art.first .text { font-size: 16px; color: #fff; left: 0px; position: inherit;}
.services-page .section-5 .cliparts .art .text{font-size: 18px; position: relative; left: 50px;}
.services-page .section-5 .cliparts .art.col-md-60 {position: relative;}
.services-page .section-5 .line-8 {position: absolute; left: 170px; z-index: -1; top: 25px;}

/* ------------------- digital-media page end here ------------------- */



/* ------------------- branding page start here ------------------- */

.branding-page {float: left; width: 100%;}
.branding-page .page-name {float: left; width: 100%; text-align: center;}
.branding-page .page-name .title{font-weight: bold; float: left; width: 100%; font-size: 32px; color: #ff5400; text-transform: uppercase;}
.branding-page .page-name p{float: left; width: 100%; font-size: 14px; color: #535353;font-size: 14px;}
.branding-page .footer{margin-top: 100px;}

.branding-page .section-1 {float: left; width: 100%; overflow-x: hidden;}
.branding-page .section-1 .environment{color: #bfb8e2; float: left; width: 100%; position: relative; background: #47435b url(../images/branding/road.png)no-repeat bottom; background-size: 100%; padding: 100px 0px; padding-bottom: 200px; text-align: center;}
.branding-page .section-1 .environment:after{content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 16px; background: url(../images/branding/zebra-street.png)repeat-x;} 
.branding-page .section-1 .environment:before{content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 16px; background: url(../images/branding/zebra-street.png)repeat-x;} 
.branding-page .section-1 .environment p {line-height: 24px;}

.branding-page .section-1 .road {height: 400px;float: left; width: 100%; position: relative;}
.branding-page .section-1 .road:before{z-index: -1; margin: 0 auto; position: absolute;    bottom: 0px; left: 0; right: 0; height: 289px; width: 855px; content: ""; background:url(../images/branding/city.png); }
.branding-page .section-1 .road .red-light{text-align: center; position: absolute; left: 0px; font-size: 11px; color: #fff; padding:190px 208px 0px 15px; bottom: -100%; background: url(../images/animation/branding/red-light.gif)no-repeat; width: 326px; height: 314px;}
.branding-page .section-1 .road  .hoarding {background: url(../images/branding/hoarding.png)no-repeat; width: 291px; height:345px; position: absolute; bottom: -100%; right: 50px; font-size: 16px; text-transform: uppercase; font-weight: bold; padding: 90px 20px 0px 20px;}
.branding-page .section-1 .road  .hoarding:before{content: ""; position: absolute; right: -50px;bottom: 0px; height: 226px; width: 347px; background: url(../images/branding/flyover.png)no-repeat; z-index: -1;}
.branding-page .section-1 .auto {z-index: 1; position: absolute; left: 0; right: -150%; margin:auto; bottom: 85%;width: 300px;}
.branding-page .section-1 .auto img {display: block;}
.branding-page .section-1 .auto .advertise-here {position: absolute; bottom: 100%; right: -70px; background: url(../images/branding/add-callout.png)no-repeat; display: none; background-size: 100%; padding: 10px 0px 0px 0px; line-height: 18px; color: #010101; width: 110px; height: 85px;}

.branding-page .section-1 .boy {position: absolute; right: 20%; bottom: 90%; display: none;}

.branding-page .section-2 {float: left; width: 100%; padding-top: 200px;}
.branding-page .section-2 .left-display { width: 45%; /*background:url(../images/branding/city.png)no-repeat center;*/  background-size: cover; text-align: center;}
.branding-page .section-2 .left-display .sale-boy {position: relative;}
.branding-page .section-2 img {display: block;}
.branding-page .section-2 .sale-boy .callouts{position:absolute; top: -100px; right: 80px; background:url(../images/branding/callout.png)no-repeat; width: 152px; height: 107px; font-weight: bold; font-size: 18px; text-align: center; color: #fff; padding-top: 12px;}
.branding-page .section-2 .right-display { width: 55%; text-align: center; padding: 0px 50px;}
.branding-page .section-2 .right-display .title {float: left; width: 100%; font-weight: bold; font-size: 32px; color: #ff5400;}
.branding-page .section-2 .right-display p {float: left; width: 100%; font-size: 14px; color: #888;}
.branding-page .section-2 .right-display img {margin-top: 15px; display: inline-table;}

/* ------------------- branding page end here ------------------- */


/* ------------------- social media page start here ------------------- */

.social-media-page .footer {margin-top: 150px;}
.social-media-page .header{background:#24a7e9;}

.social-media-page .section-1 {float: left; width: 100%; background: #24a7e9; position: relative;}
.social-media-page .section-1 .section-name{width: 70%; display: table; text-align: center; position: relative;}
.social-media-page .section-1 .section-name:after {content: ""; position: absolute; left: 105%; top: 35%; background:url(../images/animation/social-media/s1-mc.gif)no-repeat; width: 89px; height: 169px; }
.social-media-page .section-1 .section-name .title { position: relative; width: 100%;float: left; font-family: 'hobo'; font-size: 40px; color: #fff; padding-top: 100px; background:url(../images/animation/social-media/s1-gt.gif)no-repeat center top;}
.social-media-page .section-1 .section-name p {width: 100%;float: left; font-size: 14px; color: #00496e; line-height: 24px;}
.social-media-page .section-1 .section-name .title:before{position: absolute; left: 100px; bottom: 10px; width: 101px; height: 101px; background: url(../images/animation/social-media/s1-bt.gif)no-repeat; content: "";}

.social-media-page .section-1 .illustration {float: left; width: 100%; text-align: center; display: table;}
.social-media-page .section-1 .illustration .coloum-div {display: table-cell;vertical-align: middle; text-align: center; font-size:18px; font-weight: bold; color: #fff;}
.social-media-page .section-1 .illustration .coloum-div img {display: block;}
.social-media-page .section-1 .illustration .coloum-div.mrgin-set {width: 20%;}
.social-media-page .section-1 .illustration .coloum-div.mrgin-set img{margin-bottom: 20px;}
.social-media-page .section-1:after {background:url(../images/social-media/s1-divider.png)repeat-x; content: ""; left: 0px; position: absolute; bottom: 0px; height: 19px; width: 100%;}


.social-media-page .section-2 {float: left; width: 100%; background:#fff; padding-top: 30px;}
.social-media-page .section-2 .section-name {margin-bottom: 20px; float: left; width: 100%; text-align: center; padding-top: 70px;  background: url(../images/social-media/s2-h1.png) no-repeat center top;}
.social-media-page .section-2 .section-name p{float: left; width: 100%; color: #004677; font-size: 18px; line-height: 24px; font-weight: bold;}
.social-media-page .section-2 .animation {float: left;width: 100%; text-align: center;}
.social-media-page .section-2 .animation img {display: block; max-width: 100%;}

.social-media-page .section-3 {float: left; width: 100%; background:#f2f2e7; padding: 50px 0px; border-top: 1px solid #787ab6; }
.social-media-page .section-3 .section-name {float: left; width: 100%; text-align: center;}
.social-media-page .section-3 .section-name .share-icon{float: left; width: 100%; text-align: center;}
.social-media-page .section-3 .section-name .share-icon img {display: block; max-width: 100%;}
.social-media-page .section-3 .section-name .title {float: left; width: 100%; font-size: 18px; color: #565656; margin-bottom: 30px;}
.social-media-page .section-3 .section-name p {float: left;  width: 100%; font-size: 14px;color: #979797; line-height: 22px; margin-bottom: 50px;}

.social-media-page .section-4 {float: left; width: 100%; text-align: center; padding: 50px 0px;}
.social-media-page .section-4 .left-panel {float: left; width: 40%; }
.social-media-page .section-4 .left-panel img {display: block; max-width: 100%;}
.social-media-page .section-4 .right-panel {float: right; width: 60%;}
.social-media-page .section-4 .right-panel .title {float: left; width: 100%; font-size: 18px; color: #000; margin-bottom: 15px;}
.social-media-page .section-4 .right-panel p {float: left; width: 100%; font-size: 14px; color: #9c9c9c;}
.social-media-page .section-4 .right-panel .illus {float: left; width: 100%; text-align: center;}


/* ------------------- social media page end here ------------------- */


/* ------------------- mobile-marketing page start here ------------------- */

.mobile-marketing-page .section-1 {float: left; width: 100%;}
.mobile-marketing-page .section-1 .heading {display: table; width: 50%; text-align: center;}
.mobile-marketing-page .section-1 .heading h1 {font-size: 24px; color:#145f80; font-weight: bold;}
.mobile-marketing-page .section-1 .evnrmnt {float: left; width: 100%; margin-top: 300px; position: relative; background: url(../images/mobile-marketing/s1-mount.png)no-repeat; min-height: 260px; background-size: cover;}
.mobile-marketing-page .section-1 .evnrmnt.active {background: url(../images/mobile-marketing/s1-mount-full.png)no-repeat; background-size: cover; }
.mobile-marketing-page .section-1 .evnrmnt .left-boy {float: left; position: absolute; bottom: -70px;}
.mobile-marketing-page .section-1 .evnrmnt .right-mobile {float: right; right:0px;  position: absolute; bottom: -50px;}
.mobile-marketing-page .section-1 .evnrmnt .magic {float: left; width: 100%; position: relative;}
.mobile-marketing-page .section-1 .evnrmnt .magic .key {position: absolute; left: 0; right: 0; top: -200px; cursor: pointer; width: 164px;}

.mobile-marketing-page .section-2{float: left; width: 100%; padding: 30px 0px;}
.mobile-marketing-page .section-2 .design{float: left; width: 100%; display: table;}
.mobile-marketing-page .section-2 .design .coloum-div {display: table-cell; vertical-align: middle;}
.mobile-marketing-page .section-2 .design .coloum-div .illus {float: left; width: 100%; }
.mobile-marketing-page .section-2 .design .coloum-div .illus img {display: block; max-width: 100%;}
.mobile-marketing-page .section-2 .design .coloum-div .content {float: left; width: 100%; text-align: center; padding-left: 80px }
.mobile-marketing-page .section-2 .design .coloum-div .content .heading .title{padding: 13px 0px; font-size: 24px; color: #fff; font-weight: bold; background:url(../images/mobile-marketing/r-h.png)no-repeat center; }
.mobile-marketing-page .section-2 .design .coloum-div .content .heading p {margin-top: 10px; color: #939393; line-height: 22px; font-size: 14px;}
.mobile-marketing-page .section-2 .design .coloum-div .content .steps {margin-top: 30px; float: left; width: 100%; text-align: center;}
.mobile-marketing-page .section-2 .design .coloum-div .content .steps .list {display: inline-block; width: 20%; margin: 0px 10px;}
.mobile-marketing-page .section-2 .design .coloum-div .content .steps .list .icon {float: left; width: 100%;}
.mobile-marketing-page .section-2 .design .coloum-div .content .steps .list .icon img {display: block; max-width: 100%;}
.mobile-marketing-page .section-2 .design .coloum-div .content .steps .list .title {float: left; width: 100%; color: #145f80;}

.mobile-marketing-page .section-3 {float: left; width: 100%; background:#fff956; padding-top: 50px; padding-bottom: 150px;}
.mobile-marketing-page .section-3 .heading {text-align: center; width: 75%;}
.mobile-marketing-page .section-3 .heading .title{    padding: 13px 0px; font-size: 24px; color: #4d1e09; font-weight: bold; background:url(../images/mobile-marketing/w-h.png)no-repeat center; }
.mobile-marketing-page .section-3 .heading p {margin-top: 10px; color: #8e6c01; font-size: 14px;}
.mobile-marketing-page .section-3 .benifits {float: left; width: 100%; text-align: center; margin-top: 50px;}
.mobile-marketing-page .section-3 .benifits .list {width: 25%; float: left; padding: 0px 15px;}
.mobile-marketing-page .section-3 .benifits .list .design.on {background:url(../images/animation/mobile-marketing/color-1.gif)no-repeat; }
.mobile-marketing-page .section-3 .benifits .list .design.tw {background:url(../images/animation/mobile-marketing/color-2.gif)no-repeat; }
.mobile-marketing-page .section-3 .benifits .list .design.th {background:url(../images/animation/mobile-marketing/color-3.gif)no-repeat; }
.mobile-marketing-page .section-3 .benifits .list .design.fo {background:url(../images/animation/mobile-marketing/color-4.gif)no-repeat; }
.mobile-marketing-page .section-3 .benifits .list .design {display: table; height: 166px; width: 220px; margin-bottom: 15px}
.mobile-marketing-page .section-3 .benifits .list .design .style {display: table-cell; vertical-align: middle;}
.mobile-marketing-page .section-3 .benifits .list .design .big{float: left; width: 100%; font-size: 46px; font-family:'hobo'; color: #fff;}
.mobile-marketing-page .section-3 .benifits .list .design .caption {font-size: 13px; color: #fff;}
.mobile-marketing-page .section-3 .benifits .list p {font-size: 13px; color: #5a4505;}

/* ------------------- mobile-marketing page end here ------------------- */


/* ------------------- ecommerce page end here ------------------- */

.ecommerce-page .section-3 {float: left; width: 100%;margin: 50px 0px;}
.ecommerce-page .section-3 .left-panel {display: table-cell;vertical-align: middle;}
.ecommerce-page .section-3 .right-panel {display: table-cell;vertical-align: middle; padding-left: 50px; text-align: center;}
.ecommerce-page .section-3 .right-panel .title {margin-bottom: 15px; display: block; padding: 7px 20px; font-size: 18px; font-weight: bold; background:url(../images/e-commerce/s3-h.png)no-repeat center;color: #fff; }
.ecommerce-page .section-3 .right-panel p {line-height: 24px; font-size: 16px;}
.ecommerce-page .footer {margin-top: 150px;}

.ecommerce-page .section-2:before{position: absolute;left: 0px; top: -50px; width: 100%; background:url(../images/e-commerce/grass.png) repeat-x; content: ""; height: 64px;}
.ecommerce-page .section-2 {position: relative; float: left; width: 100%; background:#75c728; text-align: center; padding: 50px 0px;}
.ecommerce-page .section-2 p{float: left; width: 100%;font-size: 14px;color: #d5edbf;  line-height: 24px;}
.ecommerce-page .section-2 .heading {float: left; width: 100%; text-align: center; margin: 20px 0px;}
.ecommerce-page .section-2 .heading .icon {float: left; width: 100%; text-align: center;}
.ecommerce-page .section-2 .heading .icon img {display: block;}
.ecommerce-page .section-2 .heading .title {float: left; width: 100%; font-size: 24px; color: #fff; text-transform: uppercase; font-weight: bold; margin: 10px 0px;}

.ecommerce-page .section-3 {float: left; width: 100%;  }
.ecommerce-page .section-3 .heading {text-align: center; width: 75%;}
.ecommerce-page .section-3 .heading .title{    padding: 13px 0px; font-size: 24px; color: #4d1e09; font-weight: bold; background:url(../images/mobile-marketing/w-h.png)no-repeat center; }
.ecommerce-page .section-3 .heading p {margin-top: 10px; color: #8e6c01; font-size: 14px;}
.ecommerce-page .section-3 .benifits {float: left; width: 100%; text-align: center; margin-top: 50px;}
.ecommerce-page .benifits .list {width: 25%; float: left; padding: 0px 15px;}
.ecommerce-page .benifits .list .design.on {background:url(../images/animation/mobile-marketing/color-1.gif)no-repeat; }
.ecommerce-page .benifits .list .design.tw {background:url(../images/animation/mobile-marketing/color-2.gif)no-repeat; }
.ecommerce-page .benifits .list .design.th {background:url(../images/animation/mobile-marketing/color-3.gif)no-repeat; }
.ecommerce-page .benifits .list .design.fo {background:url(../images/animation/mobile-marketing/color-4.gif)no-repeat; }
.ecommerce-page .benifits .list .design {display: table; height: 166px; width: 220px; margin-bottom: 15px}
.ecommerce-page .benifits .list .design .style {display: table-cell; vertical-align: middle;}
.ecommerce-page .benifits .list .design .big{float: left; width: 100%; font-size: 46px; font-family:'hobo'; color: #fff;}
.ecommerce-page .benifits .list .design .caption {font-size: 13px; color: #fff;}
.ecommerce-page .benifits .list p {font-size: 10px; color: #5a4505;}



.ecommerce-page .section-1 {float: left; width: 100%;}
.ecommerce-page .section-1 .heading {float: left; width: 100%; text-align: center;}
.ecommerce-page .section-1 .heading .title{float: left; width: 100%; font-size: 32px; color: #ff5400; font-weight: bold;}
.ecommerce-page .section-1 .heading p {float: left;width: 100%; font-size: 16px; color: #333;}
.ecommerce-page .section-1 .evniornment {position: relative; float: left;margin-top: 50px; width: 100%; height: 500px; background:url(../images/animation/e-commerce/fisher.gif)no-repeat center top; background-size: cover;}
.ecommerce-page .section-1 .evniornment:before {position: absolute; left: 0px; bottom: 150px; z-index: -1; background:url(../images/e-commerce/bg.png)no-repeat; background-size: cover; height: 298px; width:100%; content: ""; }
.ecommerce-page .section-1 .evniornment:after {position: absolute; left: 0px; bottom: 0px;  content: ""; background:url(../images/e-commerce/plant.png)no-repeat; width: 225px; height: 246px; }
.ecommerce-page .section-1 .evniornment .board {line-height: 20px; font-size: 14px; position: absolute; left: 0px; padding: 30px 10px 0px 20px; text-align: center; top: 0px; left: 50px; background:url(../images/e-commerce/info-board.png); width: 250px; height: 253px;}
.ecommerce-page .section-1 .evniornment .board:before{position: absolute; left: 0px; top: 70px; background:url(../images/e-commerce/hook.png)no-repeat center; height: 67px; width: 100%; content: ""; }
/* ------------------- ecommerce page end here ------------------- */

