.chat-body-header{
	border-bottom: 1px solid gainsboro;
}
.right-side-wrapper{
	background-color: whitesmoke;
	
}
.right-side-wrapper-list{
	height: 92vh;
	overflow-y: scroll;
}

.right-side-wrapper-header{
	border-bottom: 1px solid gainsboro;
}
.round-images{
	border-radius: 50%;
	overflow: hidden;
	width: 40px;
	height: 40px;

}
.round-btn-chat{
  width: 35px;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,#11DBE4,#0A9CC0);
  border-radius: 50%;
  
}
.chat-body-footer{
	padding: 11px 0px 0px 0px;
	border-top: 1px solid gainsboro;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.chat-body-footer .form-control{
	border: none;
}

.chat-body-footer .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow:none;
}
.chat-body-footer textarea::placeholder {
    color: #bcbcbc;
    font-size: 12px;
   
}
.chat-body{
	height: 100vh;
}
.chat-body-main{
	height: calc(100% - 50px);
	position: relative;
}
.sender-chat-box{
	padding: 18px 25px;
	border-radius: 10px;
	background-color: #DBEDFF;
	max-width: 250px;
	position: relative;
	margin-left: 18px;
}
.sender-chat-box:after{
	position: absolute;
	content: "";
	width: 25px;
    height: 32px;
	-webkit-clip-path: polygon(0 0, 100% 42%, 100% 0);
    clip-path: polygon(0 0, 100% 42%, 100% 0);
    top: 0px;
    left: -18px;
    background: #dbedff;
}

.receiver .sender-chat-box{
	padding: 18px 25px;
	border-radius: 10px;
	background-color: #CBFFD9;
	max-width: 250px;
	position: relative;
	margin-left: 18px;
}
.receiver .sender-chat-box:after{
	position: absolute;
	content: "";
	width: 25px;
    height: 32px;
	-webkit-clip-path: polygon(0 0, 0 41%, 100% 0);
    clip-path: polygon(0 0, 0 41%, 100% 0);
    top: 0px;
    right: -18px;
    left: auto;
    background: #CBFFD9;
}
.chat-list{
    height: calc(100% - 71px);
    overflow-y: scroll;
}

.academic-box{
	border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 20px 0px;
    margin-bottom: 20px;
   }

   .credit-card-box{
   	 height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .slider-image-wrapper{
      position: relative;
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
    height: 430px
   }
    .slider-image-wrapper img {
      width: 100%;
      height: 100%;
   }

   .overlap-div{
   	  position: absolute;
    padding: 20px 37px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.57);;
    color: #fff;
    width: 100%;


   }

   .hobby-card{
    width: 100%;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
   }
   .hobby-card img{
    width: 100%;
    height: 100%;
   }
   .hobby-card-detail{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 8px 10px;
    bottom: 0px;
    color: #fff;
    width: 100%;
   }

   .select-wrapper{
    width: 60%;
    margin-bottom: 30px;
    margin-right: 15px;
   }
    .select-wrapper .form-control{
   font-size: 12px;
   font-weight: 600;
   color: grey;
   }

   .modal-header-element{
    background: transparent;
   
      width: 33.333333%;
    padding: 20px ;
   }
   .modal-content{
    border-radius: 8px;
    overflow: hidden;
   }
 .change-bg-tabs{
    border-bottom: 2px solid white;
  }

   .form-wrapper .form-control{
        border: 1px solid #383838;
        font-size: 14px;
        font-weight: 500;
        padding: 20px 15px;
   }
   .wd-min-200{
    min-width: 200px !important;
   }

   .white-bg{
    background-color: #fff;
   }
   #student-1{
     display: block;

   }
   #teacher-1,#university-1{
     display: none;
   }

   .bar-graph-wrapper{
    width: 38%;
    min-height: 170px;
    padding: 0px 50px;
    /*background-color: #000;*/

   }
   .round-graph-wrapper{
    width: 24%;
    min-height: 170px;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding: 30px 40px;
   }
   .sample-card{
    overflow: hidden;
    padding: 10px 3px;
    min-height: 100px !important;
   }

   .inside-chart-div{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-weight: 500;
    color: #6c6c6c;
    text-align: center;
    text-transform: uppercase;
    margin-top: -30px;
    margin-left: -29px;
}
.inside-chart-div .text {
    margin: 0;
    font-size: 42px;
    line-height: 20px;
    margin-top: 4px;
    font-weight: 500;
}

.inside-chart-div-unique{
    position: absolute;
    top: 50%;
    left: 50%;
    
    color: #6c6c6c;
    text-align: center;
    /*text-transform: uppercase;*/
    transform: translate(-50%,-50%);
   
}

.border-left{
  border-left: 1px solid gainsboro;
}
.wd-40{
  width: 40%;
}

.wd-60{
  width: 60%;
}
.btn-wrapper{
  display: inline-block;
  width: 270px;
  border: 1px solid #bcbcbc;
  margin: 0px auto;

}
.btn-wrapper-element{
  display: inline-block;
  width: 50%;
  border: 1px solid #bcbcbc;
  text-align: center;
  padding: 6px;
  cursor: pointer !important;
  
}
.wd-100{
  width: 100%;
}
.black-border{
  border: 1px solid #000 !important;
  
}
.wd-120px{
  width:150px; 
}

.border-left{
  border-left: 2px solid grey;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */


#compare-exams-1{
  display: none;
}
@media(max-width:560px){
  .col-12.col-md-4 .text-right.new{
    text-align: center !important;
  }
  .col-md-4.col-6.footer-list .list-social,.col-md-4.col-6.footer-list .footer-center-div{
    margin-left: 0px !important;
  } 
}
@media(max-width:420px){
  .video modal{
    height: 251px !important;
  }
  .video{
    height: 200px!important;
    width: 300px !important;
  }
}
@media (max-width: 320px){
  .wd-min-200 {
    min-width: 136px !important;
}
.video modal{
  height: 251px !important;


}
.video{
  height: 200px!important;
  width: 300px !important;
}
#lottie{
  height: 148px !important;
}

}


