/* css config */
body{
   font-family: 'Open Sans', sans-serif;
}
.pr-23{
  padding-right: 23px;
}
.pl-40{
    padding-left: 40px;
}
.text-white{
  color: #fff !important;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px; 
}
.mb-0{
  margin-bottom: 0px;
}
.l-h-16px{
  line-height: 16px;
}
.mr-2, .mx-2 {
  margin-right: .5rem!important;
}
.display-none{
  display: none;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.mt-3, .my-3 {
  margin-top: 1rem!important;
}
.p-4 {
  padding: 1.5rem!important;
}
.p-50{
  padding: 50px;
}

.pl-5, .px-5 {
  padding-left: 3rem!important;
}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}

.pr-5, .px-5 {
  padding-right: 3rem!important;
}
.pt-5, .py-5 {
  padding-top: 3rem!important;
}
.l-h-0{
  line-height: 0px !important;
}
.bg-light-warning{
  background: #FFD572 !important;
}
.white-bg{

}
.f-w-semiBold{
  font-weight: 600!important;
}
.l-h-0_5{
  line-height: 5px !important;
}
.l-h-1{
  line-height: 20px !important; 
}
.fs-8{
    font-size: 8px !important;
}
.fs-9{
    font-size: 9px !important;
}
.fs-10{
    font-size: 10px !important;
}
.fs-11{
    font-size: 11px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-13{
    font-size: 13px !important ;
}
.fs-14{
    font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-17{
    font-size: 17px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-22{
    font-size: 22px !important;
}
.fs-24{
    font-size: 24px !important;
}
.fs-28{
    font-size: 28px !important;
}
.fw-300{
    font-weight: 300;
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.d-ib{
    display: inline-block;
}
.m-t-5{
    margin-top: 5px;
}
.m-t-8{
    margin-top: 8px;
}
.pt-5, .py-5 {
  padding-top: 3rem!important;
}
.p-0{
  padding: 0px;
}
.pl-4, .px-4 {
  padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
  padding-right: 1.5rem!important;
}
.pl-5, .px-5 {
  padding-left: 3rem!important;
}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}
.pr-5, .px-5 {
  padding-right: 3rem!important;
}
.pt-5, .py-5 {
  padding-top: 3rem!important;
}
.bg-light {
    background-color: transparent !important;
}
.clear-green{
  color: #00DC58;
}
.clear-red{
  color: #f70505;
}
.mt-5, .my-5 {
  margin-top: 3rem!important;
}
.d-flex{
  display: flex !important;
}
.justify-content-end{
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}
.justify-content-around{
  justify-content: space-around !important;
}
.justify-content-center{
  justify-content: center !important;
}
.justify-content-between{
  justify-content: space-between !important;
}
.flex-column{
  flex-direction: column !important;
}
.medium-slate-blue{
  color: #574BED !important;
}
.bg-medium-slate-blue{
  background: #574BED !important;
}

.sticky {
  position: sticky !important;
  top: 0;
  width: 100% !important;
  z-index:1000 !important;
  background: #fff !important;
  box-shadow: 0px 0px 10px gainsboro;
  /*margin-bottom: 70px;*/
}
.navbar{
 padding: 8px 54px;
 position: absolute;
 width: 100%;
}
.navbar-brand img{
    width: 60px;
    margin-right: 15px;
}
.navbar-brand .primary-color{
    color: white !important;
    font-size: 16px !important;
}
.navbar-brand .brand-sub-detail{
    font-size: 13px !important;
}
.navbar-brand {
     /* width: 40px !important; */
    /* margin-right: 15px; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}
.primary-color{
  color: #2D98FF !important;
}
.grey{
  color: #757575;
}
.black{
  color: #000;
}
.list-style-disc{
  list-style-type:  disc;
}
.brand-sub-detail{
  margin-top: -6px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;  
}
.navbar-light .navbar-nav .nav-link {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    transition: 0.2s;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #11DBE4;
}
 
.nav-item{
    margin-right: 24px;
}
.nav-item.active{
  background-color: transparent !important;
}
.nav-item:last-child{
    margin-right: 0px;
}
.request-demo-header{
 padding-top: 25px; 
}
.header-img{
  padding-left: 30px;
}
.header{
  background-image: url('../img/bg-banner.html');
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header-img img{
   width:85%;
}
.btn-main:hover{
color: #fff !important;
/* padding: 10px 40px; */
transition: 0.5s;
background: #FF7953 !important;
}
.btn-main{
  background: #fff !important ;
  color:  #FF7953 !important;
  border: 1px solid #FF7953;
}
.p-05{
  padding: 0.5rem;
}
.btn-main:hover{
/*background: #11dbe4;*/
 /*background-image: linear-gradient(#11dbe4, #0a9cc0);*/
box-shadow: 0px 0px 10px gainsboro;
/* transform: scale(1.05); */

}
.h-auto{
  height: auto;
}
.btn-main:active{
background: #11dbe4;
box-shadow: 0px 0px 10px gainsboro;
transform: scale(1.05);

}
.header-text h2{
  font-size: 46px;
  font-weight: 300;
  margin: 25px 0px;
}
.header-text{
      padding-right: 110px;
      margin-top: 32%;
      text-align: right;
}
.btn:not(:disabled):not(.disabled):active {
     background-image: block; 
}
.btn:not(:disabled):not(.disabled):active {
    background-image: none;
}
.features{
  background-color: #FAFAFA;
  padding: 50px 100px 10px 100px;
  position: relative;
}
.sub-heading{
 color: #2A2A2A;
 font-size: 26px;
 font-weight: 500;
 margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.box-img img{
   width: 60px;
}
.box{
    height: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: 0.4s;
    padding: 20px;
    padding-top: 35px;
}
.box:hover{
    box-shadow: 0px 0px 30px gainsboro;
    background-color: #FAFAFA;
    z-index: 100;
}
.round-img{
  width: 299px;
  height: 299px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-img img{
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;

}
.help-card{
  text-align: left;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.5s;
  height: 100% !important;
}
.help-card:hover{
  background: #fff;
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
}
.help{
  padding-top: 50px;
  padding-bottom: 50px;
}
.help-list{
  padding: 0px 20px;
}
.help-card-detail{
 /*  padding: 0px 15px; */
}
.youtube-video{
 /*  padding: 0px 275px; */
 display: none;
 margin-top: 50px;
 justify-content: center;
}

iframe.modal {
  display: none;
  height: 100%;
  background: none;
  width: 75%;
  max-width: none;
  box-shadow: none;
}
footer{
  margin-top: 30px;
  padding:50px 100px;
}

.footer-company p{
   font-family: 'Roboto', sans-serif;
}

.bottom-grey-bar{
    background-color: gainsboro;
    padding: 10px;
    text-align: center;
  }

  .work{
    background-color: #FAFAFA;
    padding: 50px 10px;
  }

  .footer-list p{
    font-size: 12px;
  }

  .prestigious-box p{
    font-size: 24px;
    line-height: 23px;
    padding: 35px 10px;
  }

  .prestigious-box{
    padding: 20px 40px;
    border-right:2px solid #bcbcbc;

  }

  .university{
    padding: 30px 10px;
  }

  .university-card{
  width:200px;
  padding: 20px;
}

.university-card img{
  width:70px;
}

.university .owl-pagination{
   display: flex;
   justify-content: flex-end;
}

.university .owl-theme .owl-controls .owl-page span {
    width: 9px;
    height: 9px;
    background: #0db6cf;
}

.testimonial{
  padding:50px 100px;
  background-color: #FAFAFA;
}
.testimonial-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}
.testimonial-card{
  width: 70%;
  margin:0px auto;
}
.testimonial-text p{
  font-size: 20px;
}
.testimonial-name{
  margin-top: 20px;
  text-align: right;
}

.testimonial .owl-pagination{
   display: flex;
   justify-content: flex-start;
}

.testimonial .owl-theme .owl-controls .owl-page span {
    width: 9px;
    height: 9px;
    background: #0db6cf;
}
.list-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 25px;
}
.list-social img:hover{
  transform: scale(1.05);
}
.list-social img{
  width: 40px;
  transition: 0.5s;
}
.feature-explain{
  font-size: 14px;
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  height: 150px;
  overflow: hidden;
}
.apk-area{
	padding: 50px 250px;
  display: flex;
	/* margin-bottom: 25px; */
}
.fo-fa-Merri{
  font-family: 'Merriweather',serif;
}
.footer-imp-link{
  color: #DE0000;
}
.footer-middle .text-white{
  color: #DE0000 !important;
  text-shadow: 2px 2px 2px #C1C1C1;
}
.footer-middle .container{
  width: 100%;
    margin-left: 0px;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-imp-link:hover{
  text-decoration: none;
  color: white;
}
.footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-center-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-section{
	background: url('../img/bg-banner.html');
	background-size: cover;
}
.app-link-section{
  display: flex;
  padding: 36px;
  justify-content: center;
}

@media only screen and (max-width: 1326px) {
   

}
@media only screen and (max-width: 998px) {
   .navbar {
    padding: 8px 8px;
}

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  
}


@media only screen and (max-width: 768px) {

  .testimonial-text p{
  font-size: 14px;
}

  .box{
  padding: 5px;
}
.box:hover{
    box-shadow: 0px 0px 20px gainsboro;
    padding: 5px;
   
}
  .feature-explain{
  font-size: 11px;
  text-align: justify !important;
}

  .footer-list{
    display: flex;
    justify-content: center;
  }
  .university-card {
     width: auto; 
    padding: 20px;
    text-align: center;
}

  .testimonial .owl-pagination{
   display: flex;
   justify-content: center;
}
  .testimonial {
    padding: 50px 20px;
    background-color: #FAFAFA;
}

  .testimonial-card {
     width: 100%; 
   
}

  .university .owl-pagination{
   justify-content: center;
}

  .prestigious-box {
     padding: 0px; 
     border-right: 0px solid #bcbcbc; 
    text-align: center;
    margin-bottom: 10px;
}
  .footer-list p{
    font-size: 9px;
  }
  .round-img{
  width: 80px;
  height: 80px;
  
}
  .bottom-grey-bar{
    font-size: 12px;
  }
  
footer{
  padding:20px 30px;
}
.list-social{
      display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 35px;
    justify-content: center
}
  .features{
 
  padding: 30px 10px 10px 10px;
}

.box-img img{
   width: 40px;
}
.box{
  margin-bottom: 30px;
}
  .navbar{
  padding: 8px 8px;
 position: relative;
 width: 100%;
}
   .header{
   height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-text h2{
  font-size: 26px;
  font-weight: 300;
  margin: 15px 0px;
}
.header-text{
      padding-right: 12px;
      margin-top: 12%;
      text-align: center;
}
.header-text p{
  font-size: 13px;
}

  
}
@media only screen and (max-width: 530px){
  

    }
@media only screen and (max-width: 454px){
  
}
@media only screen and (max-width: 388px){
  

}

.sidebar{
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  background-color: #f2f2f2;
}
.bell-wrapper{
  position: relative;
}
.notification-top{
  position: absolute;
  top: 24%;
  right: 25%;
  z-index: 100;
  background-color: #FF4848;
  color: #fff;
  text-align: center;
  padding: 2% auto;
  font-size: 7px;
  border-radius: 50%;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto 9px auto;
}

.profile-name{

font-size: 15px;

font-weight: normal;

font-family: 'Khand',serif;
}
.text-center small:nth-child(2){
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #004383;
}

.acc-type{
  font-family: 'Open Sans', sans-serif;
  color: #004383;
}
svg{
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 2rem;
}
.active-1{
  background: #2D98FF;
}
.sidebar .active-1 li a {
  color:#fff;
}
.active-1 li path{
  fill: #fff;
  background-color: #2D98FF;
}
.sidebar li a {
  color:black;
}
.sidebar li a:hover{
  color:#fff;
}
.sidebar li:hover{
  width: 100%;
  color: #fff;
  fill: #fff;
  background : #2D98FF;
}
.em-video-image{
  /* filter: blur(5px); */
  filter: brightness(0.69);
}
.youtube-video-parent{
      height: 630px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropDownMenu{
height: auto;
border-radius: 10px;
}
.dropDownMenu li{
  margin: 10px;
  width: 200px;
  padding: 0%;
  margin: 0%;
}
.dropDownMenu li:hover{
  background:#2D98FF;
}

.dropDownMenu svg{
  margin: 10px;
}
.dropDownMenu li a{
  margin-left: 5px;
}
.dropDownMenu li a:hover{
  margin-left: 5px;
  color: #fff;
}
.dProgress{
  height:30vh;
  margin-top:30px;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dContainer div{
    height: auto;
}

.card{
  box-shadow: 0px 0px 20px #eaeaea;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  padding: 31px 31px;
  border-radius: 20px;
}


.sample-card{
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 35px gainsboro;
  margin-bottom: 20px;
  background: #fff;
}
.main-wrapper{
  padding: 0px;
}

.dTimeTable div span{
  font-size: 0.4rem;
}

.dTimeTable-date{
  font-size: 8px;
  padding: 10px;
  color: #6E6E6E;
  font-family: 'Open Sans';
}

.dTimeTable-periodBox{
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 8px;
}
.periodBox{
  background: #2D98FF;
  padding: 6px 10px;
  width: -webkit-fill-available;
  border-radius: 6px;
  margin: 0px 0px 15px 0px;
}
.dTimeTable-lectureBox{
  min-width: 60px;
  font-family: 'Merriweather',sans-serif;
  min-height: 50px;
  padding: 5px;
  border:1px solid #C0DAFF;
}
.activeBox{
  border:3px solid #2D98FF;
}
.lectureNumber{
  font-size: 13px;
  padding: 5px;
  color: #A7A7A7;
}
.lectureSubject,.activeBox{
  font-size: 11px;
  font-family: 'Merriweather',serif;
}
.single-tab{
  display: flex;
}
.single_tab_content {
    padding-left: 66px;
}
.lunchBreak{
  font-size: 13px;
  padding: 10px 0px; 
  font-family: 'Merriweather',serif;
  color: #a7a7a7;
}
.dTimeTable-link{
  margin-top: 9px;
}
.dTimeTable-link a{
  color: #2D98FF;
  font-size: 10px;
  transition: 0.5s;
}
.dTimeTable-link a:hover {
  font-size: 11px;
  text-decoration: none;
}

.dNotification-link a{
  color: #2D98FF;
  margin-top: 5px;
  font-size: 10px;

}

.dNotification-link a:hover {
  text-decoration: none;
}

.table-wrapper{

width: 100%;

height: auto;

display: flex;

flex-wrap: wrap;
}
.form-wrapper .form-control {
  border: 1px solid #383838;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.block{
  width: 14.28%;
  height: 50px;
  padding: 3px 0px;
  border:1px solid #C0DAFF;
}
.dDays{
  margin-top: 14px;
  width: 14.28%;
  text-align: center;
  color: #6E6E6E;
  font-size: 9px;
  text-transform: uppercase;
}
.sMonth{
  font-family: 'Merriweather',serif;
  color: #2A2A2A;
  font-size: 11px;
  margin-left: 2px;
  margin-top: 1.8rem !important;
}
.sDate{
  font-family: 'Merriweather',serif;
  color: #2A2A2A;
  font-size: 11px;
  margin-top: .2rem !important;
  margin-right: 2px;
}

.blocker{
  z-index: 100000 !important;
}

.round-block-inside{
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 7px;
  border-radius: 100%;
  overflow: hidden;
  background: #FFD572;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-block-inside{
  align-items: center;
  width: 20px !important;
  height: 20px !important;
  position: inherit;
  margin-top: 3px;
  padding: 10px 11px 11px 10px;
  /* margin-left: 21%; */
}


.dNoticeBoard{
  min-height: 100%;
  padding: 17p;
}
.dNoticeBoard-blockHeading{
  font-weight: 600!important;
  font-size: 10px !important;
}

.dNoticeBoard-blockContent{
  font-size: 10px !important;
}
.sidecard-detail{
  padding: 20px 10px;
  background: whitesmoke;
  height: 100%;
}
.img-wrapper{
  height: 100%;
}
.sidecard-wrapper{
  border-radius: 6px;
  overflow: hidden;
  max-height: 125px;
  border: 1px solid gainsboro;
  margin-bottom: 6px;
  margin-top: 6px;
}
.white-bg {
  background-color: #fff;
}
#myModal{
  width: auto !important;
  max-width: none;
  background: none;
  box-shadow: none;
}
.modal-header-element {
  background: gainsboro;
  width: 33.333333%;
  padding: 20px;
}
.modal-body {
  position: relative;
      background-image: linear-gradient(to right, #6654e8, #7955dc, #8757d0, #905ac5, #975ebb, #a560b3, #af62ab, #b766a4, #c66a9b, #d26f92, #db7789, #e08082);    
  -webkit-box-flex: 1;

  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.sidecard-lower-detail p:first-child{
  font-weight: 600;
  margin-top: 12px;
}
.sidecard-lower-detail p:nth-child(2){
  /* margin-top: 10px; */
  /* overflow: hidden; */
}
.main-sidebar{
  width: 250px;
  height: 100vh;
}
.main-area{
  width: calc(100% - 250px);
  padding: 20px;
  margin-top: 15px;
  height: 100vh !important;
  overflow-y: scroll;
}

.dGallery-img{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 4px;
  border-radius: 20px;
}
.dGallery-element{
  width: 109px;
  border-radius: 4px;
  overflow: hidden;
  background-color: silver;
  height: 112px;
  margin-right: 17px;
}

.fab-icon-chat{
  position:fixed;
  right:20px;
  bottom: 30px;
  width: 60px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,#11DBE4,#0A9CC0);
  border-radius: 50%;
  overflow: hidden;
}
.attenCalender{
  min-height:400px;
  margin-top: 35px;
  padding-top: 14px;
}

.select-month{
  width: 170px;
}
.select-month-1 select{
  border: 1px solid grey;
  border-radius: 4px;
  width: 250px;
  height: 30px;
  padding: 3px 7px;
  color: grey;
  font-weight: 600;
  font-size: 10px;

}
.over-hidden{
  overflow: hidden;
}
.select-month select {
  border: 1px solid grey;
  border-radius: 4px;
  width: 85%;
  padding: 3px 7px;
  color: grey;
  font-weight: 600;
  font-size: 10px;
}
.attendance-header-right{
    width: 180px;
}
.attendance-calender{
  min-height: 200px;
}
.calender-days{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px 15px;
  font-size: 12px;
  color: #6E6E6E;
  font-weight: 600;
}
.calender-days-time-table{
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 10px;
  color: #6E6E6E;
  font-weight: 600;
}
.calender-dates{
  width: 14.28%;
  min-height: 50px;
  border:1px solid #C0DAFF;
  background-color: whitesmoke;
  padding: 0px 5px 5px 10px;
}
.calender-dates-school{
  width: 14.28%;
  min-height: 50px;
  border:1px solid #C0DAFF;
  /* background-color: whitesmoke; */
  padding: 0px 12px 0px 5px;
}
.calender-wrapper{
  /* background: wheat; */
  border:1px solid #C0DAFF;
  width: auto;
  min-height: 100px;
  display: flex;
  margin: 0px 20px;
  align-items: center;
  flex-wrap: wrap;
}
.date-division-1{
  height: 35px;
  width: 35px;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  /* padding: 0px 0px; */
  margin: 14px 8px 8px 5px;
  border-radius: 50%;
  /* overflow: hidden; */
  background: #A3E2A5;
  position: inline;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-division-1-active{
  height: 30px;
  width: 30px;
  color: #A3E2A5;
  font-weight: 600;
  font-size: 19px;  
  padding: 2px 6px;
  margin: 5px 10px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}
.date-division-2{
  margin-top: 27%;
  /* margin-left: 57%; */
 }
.calender-dates-bottom p{
  /* margin-top: 14%; */
  font-size: 12px;
  color: #2A2A2A;
  text-align: right;
  font-family: 'Merriweather',serif;
}
.exam-report{
  min-height: 282px;
  background-color: #fff;
  border-radius:5px;
  box-shadow: 0px 0px 2px gainsboro;
  border: 2px solid gainsboro;
  margin-bottom: 24px;
}
.exam-report-wrapper{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}
.mt-1_5{
  margin-top: 1.5rem!important;
}

.mt-1{
  margin-top: 10px;
}

.exam-report-header{
  padding: 23px 0px 15px 20px;
}
.exam-report-body{
  
padding: 20px 14px 20px 20px;
}
.exam-report-body-head{
  font-size: 10px;
  font-weight: 700;

}
.exam-report-footer{
  padding: 14px 20px 0px;
}

.custom-hr{
  margin:0px;
}
.calender-dates-time-table{
  width: 16.66%;
  min-height: 48px;
  border:1px solid #C0DAFF;
  background-color: white;
  padding: 8px 10px 10px 15px;
}
.time-table-lunch{
  font-family: 'Merriweather',serif;
  font-weight: 400!important;
  color: #B4B4B4;
}
.card.attenCalender-time {
  padding-top: 14px;
  margin-top: 30px;
}
.subject-filter-box{

  padding: 10px;

}

.subject-status{
    border-right: 1px solid gainsboro;
    padding-right: 5%;
    margin-right: 3%;
}
.subject-status-right{
  border-left: 1px solid gainsboro;
  padding-left: 5%;
  margin-left: 5%;
}

.subject-filter-box select{
  width: 280px;
  border: 1px solid silver;
  font-size: 10px;
  border-radius: 4px;
  color: grey;
  padding: 1px 0px 0px 11px;
  height: 30px;
  box-shadow: 0px 0px 10px gainsboro;
  font-weight: 600;
}
.syllabus-left {
  border-right: 1px solid gainsboro;
  padding-right: 30px;
}
.unit-chapter-marks-active{
  background: #2D98FF;
  display: flex;
  margin: 19px 9px;
  border-radius: 5px;
  justify-content: space-around;
  color: #fff;
  align-content: center;
  padding: 2px 5px;
}
.unit-chapter-marks{
  background: #FFF;
  display: flex;
  margin: 19px 9px;
  border-radius: 5px;
  justify-content: space-around;
  color: grey;
  border:1px solid #C0DAFF;
  align-content: center;
  padding: 2px 5px;
}
.lr-border{
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.lr-border p{
  padding: 6px 5px;
}

.all-notice-content{
  display: flex;
  justify-content: space-between;
}

.event-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 35px;
}

.event-body-block {
  width: 30.33%;
  margin: 1% 1.5%;
}
.event-body-block-gallery{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border:1px solid gainsboro;
  border-radius: 5px;
  justify-content: center;
  padding: 10px 10px;
}

.event-block-gallery-image{
  width: 33.33%;
  border-radius: 5px;
  padding: 5px;
}
.event-block-gallery-image img{
  width: 100%;
  border-radius: 5px;
}

.assign-card {
  margin-top: 16px;
  border: 1px solid gainsboro;
  padding: 2px 0px 5px 6px;
  border-radius: 5px;
}
.assign-card div{
  padding: 5px 10px;
}
.profile-box{
  margin-top: 10%;
}
.my-profile{
  font-family: 'Khand',sans-serif;
  font-size: 17px;
}
.edit-profile{
  font-size: 11px;
  color: #2D98FF;
  font-weight: 600;
}
.my-details{
  border-left: 1px solid gainsboro;
  margin-top: 10%;
  padding: 0% 10%;
}
.my-details-pro-pic{
  align-content: center;
  width: 80px;
}
.f-f-khand{
  font-family: 'Khand',serif;
}
.my-details-pro-pic img{
}
.father-details{
  align-content: center;
  border-right: 1px solid gainsboro;
  /* padding-right: 11%; */
}
.father-pic{
  width: 48px; 
  height: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}
.father-pic img{
  width: 50px; 
}
.parent-box{
  width: 380px;
  background: whitesmoke;
  padding: 10px 15px;
  border-radius: 5px;
}
.sidecard-detail-1 {
  padding: 7px 9px;
  background: whitesmoke;
}
.student-dropdown{
  border: 2px solid gainsboro;
  border-radius:5px;
}
.student-dropdown-img{
  width: 40px; 
  height: 40px;
}
.my-details-pro-pic-parent{
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.lectureSubject-class{
  font-size: 9px !important;
  font-weight: 600;
  margin: 5px 0px;
  font-family: 'Merriweather',sans-serif;
}
.teacher-upcoming-assignment{
  display: flex ;
  justify-content: space-between;
  align-items: center;
}
.chart-time-remain{
  width: 100px;
  height: 100px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.attendance-round-block-present{
  width: 22px;
  height: 22px;
  padding: 4px 5px;
  border-radius: 50%;
  color: #fff;
  background: #A3E2A5;
  overflow: hidden;
}
.attendance-round-block-absent{
  width: 22px;
  height: 22px;
  padding: 4px 5px;
  border-radius: 50%;
  color: #fff;
  background: #FF9999;
  overflow: hidden;
}
.attendance-round-block-on-leave{
  width: 22px;
  height: 22px;
  padding: 4px 5px;
  border-radius: 50%;
  color: #fff;
  background: #FFD572;
  overflow: hidden;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 10px 5px 10px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f2f2f2;
    border-radius: .25rem;
}

.btn-paginate{
  padding: 0px 4px 0px 4px;
}


.loading-img {
    -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0);
    }
}


.attendance{
  height: 22px;
  width: 22px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
 
  border-radius: 50%;
 
  background: #A3E2A5;
  position: inline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendance.present{
  background: #A3E2A5;
}
.attendance.absent{
  background: #e27a7a;
}
.attendance.leave{
  background: #ea9921;
}
.attendance.cancel{
  background: #2d98ff;
}
.attendance.break{
  background: #9da0a2;
}

.date-division-1.school-calendar{
  margin: 14px 0px 8px 24px;
  background: #a0a9a0;
}

.date-division-1.school-calendar.holiday{
  background: #2d98ff;
}
.date-division-1.school-calendar.sunday{
  background: #e87575;
}

.color-sunday{
  background: #e87575;
}

.color-holiday{
  background: #2d98ff;
}

.color-event{
  background: #96CBFF;
}

.color-exam{
  background: #FFD572;
}

.color-none{
  background: #FFFFFF;
}



.students-search-result{
    position: absolute;
    z-index: 9999999;
    background: white;
    border: 1px solid white;
    padding: 0px 12px 0px 12px;
    min-width: 168px;
    box-shadow: 0px 6px 10px 0px #0000003d
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tool-tip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #2d98ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}

.tool-tip:hover .tooltip-text {
  visibility: visible;
}

.select_class {
  position:absolute;
  left:30px;
  top:9px;
}

.select_all_checkbox {
  position:absolute;
  right:30px;
  top:9px;
}

.classes{
  padding-left: 5%;
}
 
.btn.btn-small{
  padding: 2px 5px 4px 5px;
  font-size: 12px;
}

.marks_update_input{
    width: 36px;
    height: 25px;
    margin-left: 18px;
}

#myRequestModal{
    width: auto !important;
    max-width: none;
    background: none;
    -webkit-box-shadow: none;
    display: none;
}



.modal a.close-modal{
  display: none !important;
}
.em-button-submit{
     background: #574BED;
    padding: 10px 43px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: inline-block;
    text-transform: capitalize;
    font-size: 17px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    border-radius: 30px;
    color: #fff;
    border: transparent;
}
.em-button-submit:hover{
  color: #574BED;
  background: white;
}
@media(max-width:560px){
  .col-12.col-md-4 .text-right.new{
    text-align: center !important;
  }
  .col-md-4.col-6.footer-list .list-social,.col-md-4.col-6.footer-list .footer-center-div{
    margin-left: 0px !important;
  } 
}

@media(max-width:320px){
  .mr-2{
    margin-right: 5.5rem !important;
  }
  .footerimg{
    margin-top: 10px !important;
  }
  .apk-area{
    max-width: 47% !important;
  }
  .list-social {
     margin-top: 26px !important;
  
}
.modal{
  padding: 0px 0px !important;
  margin-top: 130px !important;
}
.form_title h2 {
  padding-bottom: 20px !important;
  font-size: 20px !important;
}

    
}
